<div class="container">
  <div class="grid-block-1">
    <div class="transition">
      <h2>Who am I?</h2> 
    </div>  
      My name is David Merritt, and I am a new graduate of Bitmaker Labs!<br><br>
  </div>
  <div class="grid-block-2">
    <div class="transition">
  	  <h2>What do I do?</h2>
    </div>
      I use Ruby, Rails, and JavaScript, html, and css as a means to my ends, 
      and am enjoying learning more about them! 
  </div>
  <div class="grid-block-3">
    <div class="transition">
      <h2>What have I done?</h2>
    </div>
    Here's a <a href="http://musicianfinder.herokuapp.com/">link</a> to a social network for musicians
    that I worked on with Erich Welz!
  </div>
  <div class="grid-block-4">
  	<div class="transition">
      <h2>How can you find me?</h2>
    </div> 
    You're welcome to call, email, or use whatever medium you feel like using!
  </div>
  <div class="grid-block-wide">
    <% @posts.each do |post| %>
      <%= link_to post.title, post %><br><br><br>
      <% end %>
    <%= link_to 'New Post', new_post_path %>
  </div>
</div>