// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-c: #f2f2f2;
$hover-c: #6b0c36;
$text-c: white;
$link-c: #797979;
$link-background: #333;
$shadow: 0px 0px 8px 0px #000000;

body{
	font-family: courier;
	padding-top: 6em;
	margin: 0;
}

a{
	text-decoration: none;
	color: black;
}

a:visited{
	text-decoration: none;
}

a:hover{
	color: lighten($primary-c, 15%);	
}

#top-nav{
	text-align: center;
	width: 100%;
	background-color: $primary-c;
 	box-shadow: 0px 1px 50px #5E5E5E;
 	position: fixed;
 	top:0px;
 	z-index: 100;
}

.title{
	margin-top: 8px;
	margin-bottom: 8px;
	font-size:25px;
	font-weight:bold;	
}

.large-container{
	width: 100%;
}

.small-container{
    height: 800px;
    width: 800px;
    margin: 0 auto;
    padding: 2em;
    border: 1px solid;
    border-radius: 5px;
    box-shadow: $shadow;
    background-color: $primary-c;
    float: left;
}

.grid-block-1{
	margin: 10px;
	height: 200px; 
	width: 375px;
	background-color: darken($primary-c, 15%);
	float: left;
	text-align: center;
}

.grid-block-2{
	margin: 10px;	
	height: 200px; 
	width: 375px;
	background-color: darken($primary-c, 15%);
	float: right;
	text-align: center;
}

.grid-block-3{
	text-align: center;
	margin: 10px;
	height: 200px; 
	width: 375px;
	background-color: darken($primary-c, 15%);
	float: left;
}

.grid-block-4{
	margin: 10px;
	height: 200px; 
	width: 375px;
	background-color: darken($primary-c, 15%);
	float: right;
	text-align: center;
}

.grid-block-wide{
	padding: 10px;
	height: 200px; 
	width: 780px;
	background-color: darken($primary-c, 15%);
	text-align: center;
	display: inline-block;
}

.transition{
	height:200px;
	text-align: center;
	opacity: 0;
	-webkit-transition: opacity 1s ease-in-out;  
	transition: opacity 1s ease-in-out;
}

.transition:hover{
	opacity:1;
}

.leftnav{
	margin: 12px;
	height: 400px;
	width: 210px;
	background-color: darken($primary-c, 10%);
	float: left;
	position: relative;
	z-index: 1;
}

.rightnav{
	margin: 12px;
	height: 400px;
	width: 210px;
	background-color: darken($primary-c, 10%);
	float: left;
	position: relative;
	z-index: 1;
}

#dropdown{
	border: 1px;
	padding:0;
	padding-top: 10px;
	padding-bottom: 50px;
	margin-bottom: 10px;
	list-style: none;
	font-weight: bold;
	background-color: darken($primary-c, 25%);		
	position: relative;
	z-index: 5;
}

#dropdown li{
	list-style: none;
	position: relative;
}

#dropdown a{
	display: block;
	padding: 5px;
	color: #fff;
	background: darken($primary-c, 25%);
	text-decoration: none;
}

#dropdown a:hover{
	color: #fff;
	background: darken($primary-c, 25%);
}

#dropdown ul{
	width: 100%;
	padding: 0;
	background: #fff;
	background: rgba(255, 255, 255, 0);
	list-style: none;
	position: absolute;
	visibility: hidden;
}

#dropdown ul li{
	float: none;
}

#dropdown li:hover ul{
	visibility: visible;
}

#dropdown li:hover a{
	text-decoration: none;
}

#dropdown li:hover ul li a:hover{
	background: #333;
}

#dropdown li:hover ul li a:hover{
	background: #333;
}