// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-c: #f2f2f2;
$hover-c: #6b0c36;
$text-c: white;
$link-c: #797979;
$link-background: #333;
$shadow: 0px 0px 8px 0px #000000;

body{
	font-family: courier;
	padding-top: 6.5em;
	background-image: url('');
	background-repeat: no-repeat;
	background-position: center;
}

a{
	padding: 6px;
	border-radius: 5px;
	background: $link-background;
	text-decoration: none;
	color: $text-c;
}

a:visited{
	text-decoration: none;
}

a:hover{
	background: $hover-c;

}

li{
	list-style-type: none;
}

.grid-block{
  display: inline-block;
  height: 50em;
  width: 13em;
  padding: 2em;
  box-shadow: $shadow;
  background-color: $primary-c;
  border: 1px solid;
  border-radius: 5px;
}

/* Dropdown menu in css, to avoid potential breakages on certain browsers */

#nav{
	top: 0;
	width: 100%;
	height: 3.5em;
	padding: 1em;
	position: fixed;
	box-shadow: $shadow;
	background-color: $primary-c;
	border: 1px solid;
	border-radius: 5px;
	list-style: none;
	font-weight: bold;
	margin-bottom: 20px;
	float: left;
	width: 100%;
	z-index: 5;
}

#nav li{
	float: left;
	margin-right: 2em;
	position: relative;
}

#nav a{
	box-shadow: $shadow;
	border-radius: 5px;
	display: block;
	padding: 1.1em;
	color: $text-c;
	background: $link-background;
	text-decoration: none;
}

nav a:hover{
	color: $text-c;
	background: $hover-c;
}

#nav ul{
	background: $link-background;
	background: rgba(255, 255, 255, 0);
	list-style: none;
	position: absolute;
	left:-9999px;
}

#nav ul li{
	padding-top: 1px;
	float: none;
}

#nav ul a{
 	white-space: nowrap;
}

#nav li:hover ul{
	left:0;
}

#nav li:hover a{
	background: $hover-c;
}

#nav li:hover ul a{
	text-decoration: none;
}

#nav li:hover ul li a:hover{
	background: $link-background;
}