<!DOCTYPE html>
<html>
<head>
  <title>David Merritt</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <ul id="nav">
  	<li>
      <a id="header">David Merritt</a>
    </li>
    <li>
      <a href='#'>Apps</a>
      <ul>
        <li><a href="http://musicianfinder.herokuapp.com/">Homebass</a></li>
      </ul>
    </li>
    <li><a href='#'>Contact</a>
      <ul>
        <li><a href='https://github.com/davemerritt'>Github</a></li>
        <li><a href='http://ca.linkedin.com/pub/david-merritt/87/7b6/56'>Linkedin</a></li>
        <li><a href='https://twitter.com/Lungbadgers'>Twitter</a></li>
      </ul>
    </li>
  </ul>
  
<%= yield %>

</body>
</html>
